/* Yleismääritykset */

body{
        background-color: rgb(219, 219, 219);
        color: black;
        font-family: Calibri, Arial, Helvetica, sans-serif;
        margin: 0;
}

header {
        text-align: center;
        padding-bottom: 10px;
}

footer {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
}

h1 {
        color: rgb(31,78,121);
        font-size: 40px;
}

h2 {
        color:rgb(10, 10, 10);
        font-size: 22px;
}

/* Ylänavigointi */

#topnav li, #bottomnav li {
        display: inline-block;
}

#topnav a, #bottomnav a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin: 0px 5px 0px;
        font-size: 22px;
}

#topnav a:hover, #bottomnav a:hover{
        color: rgb(122, 122, 122);
}

/* Flex - Front Page */

.container{
        background: rgb(255, 255, 255);
        padding: 15px 9%;
        padding-bottom: 110px;
}

.container .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 15px;
}

.container .box-container .box{
        border-color: black;
        border-style: solid;
        border-width: 1px;
        background: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 25px;
        
}

.container .box-container .box img{
       margin: auto;
       max-width: 100%;
       height: auto;
}

.container .box-container .box h3{
        color: black;
        font-size: 22px;
        line-height: 0.5;
 }

 .container .box-container .box .btn{
        margin-top: 10px;
        display: inline-block;
        background: rgb(68, 68, 68);
        color: rgb(248, 248, 248);
        font-size: 17px;
        border-radius: 5px;
        padding: 8px 25px;
        text-decoration: none;
}

.container .box-container .box .btn:hover{
        letter-spacing: 0.5px;
}

.container .box-container .box:hover{
        box-shadow: 0 10px 15px rgba(0,0,0,.3);
        transform: scale(1.01);
}

/* Flex Container -destination page */

.container-2{
        background: rgb(255, 255, 255);
        padding: 15px 9%;
        padding-bottom: 5%;
        padding-top: 1%;
}

.container-2 .container-box-2{
        background: rgb(255, 255, 255);
        max-width: 1000px;
        margin: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        border-radius: 10px;
        padding-bottom: 30px;
}

.container-2 .box-item-1{
        background: rgb(255, 255, 255);
}

.container-2 .container-box-3{
        display: flex;
}

.container-2 .box-item-2{
        background: rgb(255, 255, 255);
        width: 70%;
}

.container-2 .box-item-3{
        background: rgb(255, 255, 255);
        width: 30%;
}

.container-2 .box-item-1 img{
        margin: auto;
        max-width: 100%;
        height: auto;
}

.container-2 .box-item-2 iframe{
        margin: auto;
        max-width: 100%;
        height: auto;
}

/* mobiili */
@media only screen and (max-width: 430px){

        /* Yleismääritykset */

        body{
                background-color: rgb(219, 219, 219);
                color: black;
                font-family: Calibri, Arial, Helvetica, sans-serif;
                margin: 0;
        }

        header {
                text-align: center;
                padding-bottom: 10px;
        }

        footer {
                text-align: center;
                padding-top: 30px;
                padding-bottom: 40px;
        }

        h1 {
                color: rgb(31,78,121);
                font-size: 40px;
        }

        h2 {
                color:rgb(10, 10, 10);
                font-size: 22px;
        }

        /* Ylänavigointi */


        #topnav li, #bottomnav li {
                display: block;
                padding-right: 40px;
        }
        
        #topnav a, #bottomnav a {
                color: rgb(0, 0, 0);
                text-decoration: none;
                margin: 0px 5px 0px;
                font-size: 22px;
        }
        
        #topnav a:hover, #bottomnav a:hover{
                color: rgb(122, 122, 122);
        }

        .container-2{
                background: rgb(255, 255, 255);
                padding: 0px 0%;
                padding-bottom: 5%;
                padding-top: 1%;
        }
        
        .container-2 .container-box-2{
                background: white;
                max-width: 1000px;
                margin: auto;
                padding: 2px;
                display: flex;
                flex-direction: column;
                max-width: 800px;
                border-radius: 10px;
                padding-bottom: 30px;
        }
        
        .container-2 .box-item-1{
                background: white;
        }

        .container-2 .box-item-1 img{
                margin: auto;
                max-width: 100%;
                height: auto;
        }
               
        .container-2 .container-box-3{
                display: flex;
                flex-direction: column;
        }
        
        .container-2 .box-item-2{
                background: white;
                width: 100%;
                order: 3;
        }
        
        .container-2 .box-item-3{
                background: white;
                width: 100%;
                order: 2;
        }
       
        .container-2 .box-item-2 iframe{
                margin: auto;
                max-width: 100%;
                height: auto;
        }
        
}